
<h1><a id="Welcome_to_the_Bunker_Code_Test_0"></a>Welcome to the Bunker Code Test</h1>
<p>Thanks for your interest in working with use at Bunker! This is a simple code test. The purpose is to let us get an idea of how you do things. The test consists of adding a simple form to an Angular project, submitting it, and displaying a result.</p>
<h2><a id="Tasks_3"></a>Tasks</h2>
<ul>
<li>Create a branch off of the <i>develop</i> branch to work in. Name it so we'll know it's yours when you check it in!
<li>Add a component with a form to collect the following data:
<ul>
<li>First Name (string)</li>
<li>Last Name (string)</li>
<li>Favorite Color (string)</li>
</ul>
</li>
<li>Be sure to add navigation to your new component from the Home component</li>
<li>Write code to submit the data from the form to the <em>people/add</em> endpoint of  <a href="https://bunkerdev.portal.azure-api.net/docs/services/59319e778c574311ec995ca4/operations/59319f658c574311ec995ca5">this API</a>. See the API documentation for information on the payload to post and the structure of the response.</li>
<li>Display the resulting data in the component</li>
<li>When finished <strong>submit a pull request</strong> back to the repository</li>
</ul>
<h2><a id="Requirements_12"></a>Requirements</h2>
<ul>
<li>This is an Angular CLI project in TypeScript. It must be able to be built and run with Angular CLI.</li>
<li><a href="https://www.npmjs.com/package/angular-cli">Angular CLI</a> and its prerequisites (Node 4 or higher, NPM 3 or higher)</li>
<li>A <strong>Git</strong> client</li>
<li>An IDE to work in. We recommend <a href="https://code.visualstudio.com/">Visual Studio Code</a>.</li>
</ul>
<h2><a id="Guidelines_17"></a>Guidelines</h2>
<ul>
<li>Don’t worry. This code test is just one part of how we’ll get to know you. We’re not going to judge you entirely based on whether you did or did not do a particular thing in this test. We just want a sense of how you work.</li>
<li>Don’t overdo it. This shouldn’t take more than a few hours, tops. The task is simple, so the solution should be simple as well. Use good structure and good practices, but it doesn’t need to be gold-plated.</li>
<li>Don’t spend a lot of time trying to make the page pretty, we’re more interested in pretty code right now.</li>
<li>If you have questions, first try working them out on your own. Part of what we’re looking for is how you solve problems.
<ul>
<li>If you struggle with something then figure it out <strong>do</strong> make a note of it and tell us about it. We love hearing how people work through things.</li>
<li>If you struggle with something and can’t figure it out, it’s fine to email your contact at Bunker and ask about it - particularly if instructions aren incorrect or unclear, or of something is broken</li>
</ul>
</li>
<li>Have fun. We love writing code, and we hope you do too. Feel free to get creative, if you like.</li>
</ul>
